body{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


header{
   display: flex;
   background-color:black;
   justify-content: center;
   height: 70px;
   margin-bottom: 0px;
}
.apple1{
   display: flex;
   list-style: none;
   padding: 1px 20px;
}   


.apple2{
    display: flex;
    justify-content: center;
    background-color: #fbfbfd;
}
span{
    justify-content: center;
    align-items: center;
    display: flex;
}
.apple2 span{
    color: black;
}
.apple2 span:hover{
    color: #0077ed;
}
.apple2 li a{
    text-decoration-line: none;
}

.apple2 li button{
    display: block;
    border: 0;
    background-color: transparent;  
}
.apple3{
    position: relative;
}
.apple3 li{
    line-height: 1px;
}
a{
    
    text-decoration: none;
    color:#0077ed ;
    font-weight: bold; 
    letter-spacing: 1px;
    font-size: 17px;
}
.add1{
    display: flex;
    justify-content: center;
}
.firstname1{
    display: flex;
    justify-content: center;
}

#add a:hover{
    text-decoration:underline;
}

#purchase{
    background-color: #0077ed;
    color: white;
    padding: 8px 16px;
    border-radius: 980px;
    border-style: none;
    font-size: 15px;
}

#new{
font-size: 20px; 
color: #a8a8ab;
}
#font{
    font-weight: bold;
    font-size: 30px;
}
.apple1 button, .apple1 input[type=button]{
    border: 0;
    background-color: transparent;   
    color: #c1c1c1;
    margin-left: 20px;
}

.brand:hover{
    transform: scale(2);
}
#brand1:hover{
    transform: scale(2);
}

li{
    padding: 10px;
    border: 0px;
    background-color: transparent;
    
}

#button{
    background-color: transparent;
}
ul{
    list-style: none;
}
footer{
    background-color: black;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a{
    text-decoration: none;
    color: white;
}

.apple_2{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
    height: 70px;

}
.gray1{
    display: flex;
    font-size: small;
    color: gray;
    margin-left: 600px;
    margin-top: 40px;
}
.apple_3{
    
}
#firstname ,#lastname{
    width: 190px;
    height: 54px;
}
#text{
    width: 414px;
    height: 54px;

}
input:focus{
    outline-color: #0077ed;
}

